* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: "Roboto", sans-serif;
}

span {
    text-transform: uppercase;
    background-color: yellow;
    padding: 0 4px;
    line-height: 1.5;
}

header {
    text-align: center;
    margin: 10px;
}

header h1 {
    margin: 10px 0 20px;
    text-transform: uppercase;
}

header h2 {
    margin: 0 30px;
}

.concepts {
    border-left: 3px solid cadetblue;
    /* background-color: rgb(226, 236, 236); */
    width: 95%;
    max-width: 680px;
    margin: 0 auto 20px;
    padding: 10px;
}

.concepts p {
    font-size: 20px;
    line-height: 32px;
    margin-top: 5px;
}